In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import re

In [31]:
os.chdir('/Users/alisdghnia/Desktop/Handshake Project')
df = pd.read_csv('clean_data.csv')
df

,Job Title,Company Name,Industry,Posted date,Application deadline (date),Application Window,Employment Type,Job Type,Location type,US work authorization,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Industry_Group,Average Salary
0,Blood Bank Associate Technical Support Specialist,SCC Soft Computer,Internet & Software,8/22/2016,3/13/2023,2394,Full-Time,Job,On-site,Required,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Technology and Software,39520.0
1,Lab/Mic Associate Technical Support Specialist,SCC Soft Computer,Internet & Software,8/22/2016,3/13/2023,2394,Full-Time,Job,On-site,Required,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Technology and Software,37440.0
2,Computer Science Intern - Online Computer Scie...,Coding4Youth,Other Education,9/19/2016,9/29/2050,12428,Part-Time,Internship,Remote,Required,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Education,41600.0
3,Marketing Representative,Trey Rhodes - State Farm Agent,Insurance,10/31/2016,5/31/2024,2769,Full-Time,Job,On-site,Required,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Finance and Insurance,50000.0
4,Administrative Support Assistant,SCC Soft Computer,Internet & Software,12/2/2016,3/13/2023,2292,Full-Time,Experiential Learning,On-site,Required,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Technology and Software,33280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17288,Respite Counselor - Milford - Full Time,"Riverside Community Care, Inc.",Healthcare,3/11/2023,8/31/2023,173,Full-Time,Job,On-site,Required,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Healthcare,NaN
17289,Respite Counselor - Milford - Relief,"Riverside Community Care, Inc.",Healthcare,3/11/2023,8/31/2023,173,Part-Time,Job,On-site,Required,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Healthcare,NaN
17290,Respite Counselor - Norwood,"Riverside Community Care, Inc.",Healthcare,3/11/2023,8/31/2023,173,Full-Time,Job,On-site,Required,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Healthcare,NaN
17291,Respite Counselor - Norwood - Relief,"Riverside Community Care, Inc.",Healthcare,3/11/2023,8/31/2023,173,Part-Time,Job,On-site,Required,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Healthcare,NaN
17292,Social Media Intern Summer 2023,InReach (formerly AsylumConnect),Non-Profit - Other,3/11/2023,5/8/2023,58,Part-Time,Internship,Remote,Required,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Non-Profit and Social Services,NaN

In [32]:
# create a column in the dataframe and assign it a value from 1 to 19447
df['id'] = np.arange(1,17294)

In [34]:
# drop all the unnamed: x columns
df = df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1)

In [35]:
df

,Job Title,Company Name,Industry,Posted date,Application deadline (date),Application Window,Employment Type,Job Type,Location type,US work authorization,Seasonal role,Headquarters,Company Location,Number of Location,Employees,Industry_Group,Average Salary,id
0,Blood Bank Associate Technical Support Specialist,SCC Soft Computer,Internet & Software,8/22/2016,3/13/2023,2394,Full-Time,Job,On-site,Required,False,"Clearwater, FL","Clearwater, FL",1,"250 - 1,000",Technology and Software,39520.0,1
1,Lab/Mic Associate Technical Support Specialist,SCC Soft Computer,Internet & Software,8/22/2016,3/13/2023,2394,Full-Time,Job,On-site,Required,False,"Clearwater, FL","Clearwater, FL",1,"250 - 1,000",Technology and Software,37440.0,2
2,Computer Science Intern - Online Computer Scie...,Coding4Youth,Other Education,9/19/2016,9/29/2050,12428,Part-Time,Internship,Remote,Required,True,"San Jose, CA","Atlanta, GA Houston, TX Philadelphia, PA Chica...",11,"10,000 - 25,000",Education,41600.0,3
3,Marketing Representative,Trey Rhodes - State Farm Agent,Insurance,10/31/2016,5/31/2024,2769,Full-Time,Job,On-site,Required,False,"Newnan, GA","Newnan, GA",1,Oct-50,Finance and Insurance,50000.0,4
4,Administrative Support Assistant,SCC Soft Computer,Internet & Software,12/2/2016,3/13/2023,2292,Full-Time,Experiential Learning,On-site,Required,False,"Clearwater, FL","Clearwater, FL",1,"250 - 1,000",Technology and Software,33280.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17288,Respite Counselor - Milford - Full Time,"Riverside Community Care, Inc.",Healthcare,3/11/2023,8/31/2023,173,Full-Time,Job,On-site,Required,False,"270 Bridge Street, Suite 301, Dedham, Massachu...","Milford, MA",1,"1,000 - 5,000",Healthcare,NaN,17289
17289,Respite Counselor - Milford - Relief,"Riverside Community Care, Inc.",Healthcare,3/11/2023,8/31/2023,173,Part-Time,Job,On-site,Required,False,"270 Bridge Street, Suite 301, Dedham, Massachu...","Milford, MA",1,"1,000 - 5,000",Healthcare,NaN,17290
17290,Respite Counselor - Norwood,"Riverside Community Care, Inc.",Healthcare,3/11/2023,8/31/2023,173,Full-Time,Job,On-site,Required,False,"270 Bridge Street, Suite 301, Dedham, Massachu...","Norwood, MA",1,"1,000 - 5,000",Healthcare,NaN,17291
17291,Respite Counselor - Norwood - Relief,"Riverside Community Care, Inc.",Healthcare,3/11/2023,8/31/2023,173,Part-Time,Job,On-site,Required,False,"270 Bridge Street, Suite 301, Dedham, Massachu...","Norwood, MA",1,"1,000 - 5,000",Healthcare,NaN,17292
17292,Social Media Intern Summer 2023,InReach (formerly AsylumConnect),Non-Profit - Other,3/11/2023,5/8/2023,58,Part-Time,Internship,Remote,Required,True,"228 Park Ave S Suite # 90945 New York, NY 1000...","Miami, FL New Orleans, LA Washington, DC India...",12,10-Jan,Non-Profit and Social Services,NaN,17293

In [36]:
df.to_csv('new_clean_data.csv')

In [37]:
df_location = pd.DataFrame(columns=['posting_id', 'locations'])
df_location['locations']=None

In [38]:
def loop_over_locations(locations):
    # convert location to list
    locations = str(locations)
    states = re.findall(r'\b[A-Z]{2}\b', locations)
    return states
    # if (states == 1):
    #     # check if it already in the df_location
    #     if (locations not in df_location['locations']):
    #         df_location = df_location.append({'id': df_location['id'].max() + 1, 'locations': locations}, ignore_index=True)
    #         return df_location['id'].max()
    #     else: 
    #         return df_location[df_location['locations'] == locations]['id']
    # else:
    #     new_id = df_location['id'].max() + 1
    #     for state in states:
    #         # add the state to the dataframe with new_id
    #         df_location = df_location.append({'id': new_id, 'locations': state}, ignore_index=True)
    #         return new_id

In [39]:
df_location.locations = df['Company Location'].apply(lambda x: loop_over_locations(x))

In [40]:
df_location.posting_id = df['id']

In [41]:
df_location

       posting_id                                         locations
0               1                                              [FL]
1               2                                              [FL]
2               3      [GA, TX, PA, IL, NY, MA, MN, AZ, CA, CA, WA]
3               4                                              [GA]
4               5                                              [FL]
...           ...                                               ...
17288       17289                                              [MA]
17289       17290                                              [MA]
17290       17291                                              [MA]
17291       17292                                              [MA]
17292       17293  [FL, LA, DC, IN, MD, PA, TX, OH, NY, IL, CA, CA]

[17293 rows x 2 columns]

In [42]:
# explode each row of the locations column
df_location = df_location.explode('locations')
df_location

       posting_id locations
0               1        FL
1               2        FL
2               3        GA
2               3        TX
2               3        PA
...           ...       ...
17292       17293        OH
17292       17293        NY
17292       17293        IL
17292       17293        CA
17292       17293        CA

[34502 rows x 2 columns]

In [15]:
df_location.locations.unique()

array(['FL', 'SC', 'VA', 'KY', 'AR', 'OH', 'IN', 'PA', 'MO', 'MI', 'WI',
       'NE', 'MN', 'ND', 'AZ', 'UT', 'ID', 'NC', 'GA', 'TX', 'IL', 'NY',
       'MA', 'CA', 'WA', 'DC', nan, 'CT', 'MD', 'NJ', 'TN', 'NV', 'CO',
       'DE', 'AL', 'IA', 'LA', 'AK', 'RI', 'SD', 'ME', 'WY', 'MS', 'WV',
       'OK', 'KS', 'NM', 'MT', 'OR', 'NH', 'VT', 'HI', 'US'], dtype=object)

In [43]:
df_location.to_csv('new_location_table.csv', index=False)